/* 
    Document   : index
    Created on : Jun 21, 2013, 9:41:12 AM
    Author     : obeltran
    Description:
        
*/
body{
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 12px;   
    margin: 0px;
}
#header{
    background: url("../images/bg-row.gif") repeat-x scroll center top transparent;
    height: 83px;
}
#contenido_header{
    width: 960px;
    margin: auto;
}
#logo{
    float: left;
    margin: 16px 0 0;
}
#profile{
    background: none repeat scroll 0 0 white;
    border: medium solid white;
    border-radius: 7px 7px 7px 7px;
    float: right;
    margin-top: 20px;
    padding: 10px;
}
#profile a{
    text-decoration: none;
    color: black;
}
#profile a:hover{
    text-decoration: underline;    
}
#content{
    width: 960px;
    margin: auto;
    display: block;  
}
#menu{    
    height: 83px;
    background: #EDEDED;
}
#contenido_menu{
    height: 50px;    
    width: 960px;
    margin: auto;
}
#footer{
    background: url("../images/bg-footer.gif") repeat-x scroll center top transparent;
    margin-top: 20px;
    font-size: 10px;
    color: white;
    text-align: center;   
    padding: 3px;
}
#footer a{
    text-decoration: underline;
    color: white;
    font-weight: bold;
}
form{    
    font-size: 14px;
}
div.contenedor_pestana{
    margin-bottom: 50px;
}
ul.menu_acciones{
    list-style: none;
    padding: 0px;
    margin-bottom: 20px;    
}
ul.menu_acciones li{ 
    
}
ul.record_actions{
    list-style: none;
    padding: 0px;
}

label, input[type="button"], input[type="submit"], button {
    cursor: pointer;
    display: block;
}
input[type="submit"]{
    background: url("../images/bg-row.gif") repeat-x scroll center top transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
    padding: 4px 7px;
    position: relative;
    vertical-align: middle;
}
input[type="submit"]:hover{
    background: url("../images/bg-button.gif") repeat-x scroll center transparent;
}
input[type="text"], input[type="password"], input[type="email"], input[type="number"]{
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #D7D7D7;
    border-radius: 3px 3px 3px 3px;
    color: #484848;
    padding: 5px;
}
form select{
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #D7D7D7;
    border-radius: 3px 3px 3px 3px;
    color: #484848;
    padding: 5px; 
}
textarea{
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #D7D7D7;
    border-radius: 3px 3px 3px 3px;
    color: #484848;
    padding: 3px;
    resize: vertical;
    width: 300px;
}
span.cerrar_tab{
    display: inline-block;
}
/*Estilos ventanas de dialogo*/
#show_form form{
    width: 400px;
    margin: auto;
    padding: 20px;
}
#show_form form div, #show_form form div div div div{
    display: inline-block;
    margin: 7px;
}
table.record_properties{    
    border-collapse: collapse;    
    width: 100%;
}
table.record_properties th{    
    background-color: background;
    border: 1px solid  #00629B;
    color: #FFFFFF;
    font-size: 13px;
    padding: 5px 7px 4px;
    text-align: right;   
}
table.record_properties td{	
    border: 1px solid #2F99B1;
    font-size: 14px;
    padding: 3px 7px 2px;
    font-size: 12px;
}
table.record_properties td ul{
    list-style: none;
    padding: 0px;
}
table.record_properties td li{    
    margin: 2px;
    padding: 2px;
    text-align: center;    
}
table.record_properties td li :hover{
   color: #2F99B5;
   text-decoration: underline;
}
table.record_properties td li a{
    text-decoration: none;
    color: #2F99B1;
}
table.record_properties{
    margin: auto;
}
form div div ul{
    list-style: none;
    padding: 0px;
    color: red;
    width: 150px;
}
