{% extends 'VatencioSgisBundle::template.html.twig' %}
{% block title %}SGIS Online{% endblock %}
{% block content %}
<div id="content_tabs">
    <div id="tabs">
        <ul>          
          <li><a href="#tab_welcome">Inicio</a></li>
        </ul>
        <div id="tab_welcome">
          <p>Bienvenido al Sistema de Gestion Online</p>          
        </div>       
    </div>
</div>
{% endblock %}
